services:
  ssv.avado.dappnode.eth:
    build:
      context: build
      args:
        UPSTREAM_VERSION: v2.0.0
    image: 'ssv.avado.dappnode.eth:0.0.6'
    restart: always
    volumes:
      - 'ssv:/data'
    ports:
      - '13001:13001'
      - '12001:12001/udp'
    environment:
      - 'BEACONNODEADDR=http://teku.my.ava.do:5051'
      - 'EXECUTIONCLIENTADDR=ws://avado-dnp-nethermind.my.ava.do:8545'
      - NETWORK=mainnet
volumes:
  ssv: {}
